body {
  background-color: purple;
  color: yellow;
}

header {
  text-align: center;
}

nav {
  text-align: center;
}

tab {
  color: white;
  text-align: left;
}

a:link {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

div {
  color: orange;
  text-align: center;
}

img {
  width: 25%;
}

.indent-1 {
  float: left;
  width: 33%;
  text-align: center;
}

.header-1 {
  color: yellow;
  text-align: center;
}

.join {
  color: yellow;
  text-align: center;
}

